<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_weather"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Place"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".Weather_status_trichy"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".City_one_places"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".City_two_overview"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>